<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Curros - Model</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/Images/otak.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">Model Algoritma dan klasifikasi</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" style="font-size: 20px;" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" style="font-size: 20px;" href="/dataset">Dataset</a></li>
                        <li class="nav-item"><a class="nav-link" style="font-size: 20px;" href="/model">Model</a></li>
                        <li class="nav-item"><a class="nav-link" style="font-size: 20px;" href="/prediksi">Prediksi</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Projects Section-->
        <section class="py-5">
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Model</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="d-flex flex-row flex-wrap">
                        <!-- Project Card 1-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5 me-4">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Principal Component Analysis (PCA)</h2>
                                        <p>PCA merupakan sebuah metode machine learning untuk mengurangi dimensi data dengan memproyeksikannya ke ruang fitur yang lebih rendah. Ini dilakukan dengan menemukan kombinasi linier baru dari variabel asli yang disebut komponen utama, yang memungkinkan kita untuk mempertahankan sebagian besar variasi data dalam jumlah dimensi yang lebih rendah.</p>
                                    </div>
                                    <img class="img-fluid" src="/static/Images/PCA 2.0.png" alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 2-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5 me-4">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Decision Tree (DT)</h2>
                                        <p>Decision Trees adalah model pembelajaran mesin yang digunakan untuk klasifikasi dan regresi. Mereka bekerja dengan membagi data menjadi subset yang lebih kecil berdasarkan serangkaian keputusan berbasis fitur. Setiap pembagian ini membentuk simpul dalam pohon keputusan, dan setiap simpul akhir (daun) mewakili label atau nilai target.</p>
                                    </div>
                                    <img class="img-fluid" src="/static/Images/DT.jpg" alt="..." />
                                </div>
                            </div>
                        </div>
                        <!-- Project Card 3-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <h2 class="fw-bolder">Naive Bayes (NB)</h2>
                                        <p>Naive Bayes adalah algoritma klasifikasi yang berdasarkan teorema Bayes dengan asumsi kemerdekaan antar fitur. Meskipun asumsi ini sering kali tidak benar dalam praktiknya, algoritma ini masih sering digunakan karena sifatnya yang sederhana dan efektif dalam banyak kasus, terutama ketika bekerja dengan data teks.</p>
                                    </div>
                                    <img class="img-fluid" src="/static/Images/Naive-Bayes-Classifier.png" alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">Pengujian Model?</h2>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/prediksi">Test Me</a>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">Copyright &copy; Curros 2024</div></div>
                <div class="col-auto">
                    <a class="small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
</body>
</html>
